body{
    font-family: 'alegreya', sans-serif;
    margin: 5%;
}
h1{
    font-size: 60px;
    text-align: center;
}
h2{
    font-size: 50px;
    text-align: left;
}
h3{
    font-size: 40px;
    text-align: left;
}
h4{
    font-size: 40px;
}
#header{
    border-left: 5px solid;
    border-image: linear-gradient(tomato, tomato);
    border-image-slice: 1;
}
p{
    font-size: 20px;
}
.orange-color{
    color: orange;
}
.flexible-container{
    display: flex;
}
.half-width{
    width: 50%;
    padding: 5%;
}
.half-width image{
    width: 50%;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(tomato, tomato);
    padding: 10px 40px;
    color: white;
    font-weight: 600;
    border-radius: 5px;
}
.second-part{
    margin: 5%;
}
.mission-item{
    width: 30%;
    margin-left: 1%;
    margin-right: 1%;
    border-radius: 30px;
    background-color: rgb(235, 220, 193);
    padding: 30px 30px; 
}
.vission-item{
    width: 30%;
    margin-left: 1%;
    margin-right: 1%;
    border-radius: 30px;
    background-color: rgb(228, 210, 228);
    padding: 30px 30px;
}
.goal-item{
    width: 30%;
    margin-left: 1%;
    margin-right: 1%;
    border-radius: 30px;
    background-color: rgb(241, 202, 241);
    padding: 30px 30px;
}
.develop-part{
    background-image: url(images/shapes/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.projects-part{
    background-image: url(images/shapes/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
.last-part{
    background-image: url(images/shapes/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.tomato-color{
    color: tomato;
}
.white-color{
    color: white;
}
footer{
    text-align: center;
    background-color: rgb(2, 2, 36);
}